/* Existing CSS */
.our-services {
  margin: auto;
  max-width: 900px;
}

.our-service-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.service {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.service-image {
  flex: 0 0 40%;
}

.service-image img {
  width: 100%;
  height: auto;
}

.service-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px; /* Changed to padding */
}

.service-details {
  margin-bottom: 20px;
  text-align: center;
}

.service-block {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin-bottom: 10px; /* Add a bottom margin to service blocks */
  width: 100%; /* Ensures all service blocks take full width on mobile */
}

#hire-us {
  padding-bottom: 30px;
}

.service-block:hover {
  transform: scale(1.05);
}

h2 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px !important;
  font-family: 'PlayFair', sans-serif;
  color: #064996;
}

.b-20 {
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666666;
}

/* Mobile */
@media (max-width: 768px) {
  .service {
    flex-direction: column;
  }

  .service-image {
    margin-bottom: 15px;
    order: 1; /* Changes the order to 1 to push it above the text */
  }

  .service-group {
    padding: 0 15px;
    order: 2; /* Changes the order to 2 to push it below the image */
  }

  #hire-us {
    padding: 20px;
    order: 2; /* Changes the order to 2 to push it below the image */
  }

  #hire-us h2 {
    text-align: center;
  }

  .service-details {
    text-align: left;
  }
}

