.navbar {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px; /* or 950px */
}

.navbar-logo img {
  height: 70px; /* Adjust the height as desired */
  width: auto; /* Maintain aspect ratio */
}

.navbar-logo a {
  font-size: 24px;
  font-weight: bold;
  color: #FFA500; /* Orange color */
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.menu-item {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}

.menu-item:hover {
  color: #FFA500;
}
