.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF; /* White background color */
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px; /* or 950px */
  }
  
  .navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    color: #FFA500; /* Orange color */
    text-decoration: none;
  }
  
  .navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu ul li {
    margin-right: 20px;
  }
  
  .navbar-menu ul li a {
    color: #000000; /* Dark blue color */
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-menu ul li a:hover {
    color: #FFA500; /* Orange color on hover */
  }
  
  .logo-icon {
    height: 70px; /* Adjust the height as desired */
    width: auto; /* Maintain aspect ratio */
  }
  
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px; /* or 950px */
  }