.footer {
    background: #064996;
    color: #fff;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    height: 100px;
    width: 300px;
    overflow: hidden;
    position: relative;
  }
  
  .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
  }
  
